---
import { Image } from "astro:assets";
import CalendarIcon from "../assets/icons/calendar.svg";
import GpxIcon from "../assets/icons/gpx.svg";
import GraphIcon from "../assets/icons/graph.svg";
import PinsIcon from "../assets/icons/pins.svg";
import RunnerIcon from "../assets/icons/runner.svg";
import mapImage from "../assets/imgs/map.png";
import content from "../data/content.json";
import AnchorButton from "./AnchorButton.astro";
---

<div class="@container my-18">
  <div class="px-6 max-w-screen-xl mx-auto">
    <h2 class="font-bold text-4xl sm:text-6xl uppercase mb-6">Le tracé</h2>
    <div class="relative">
      <AnchorButton
        class="bg-white text-black flex gap-2 top-4 right-4 absolute border-neutral-100 border-2"
        size="small"
        download="TNT-12km.gpx"
      >
        <GpxIcon class="w-4 h-4" />
        <span>Télécharger</span>
      </AnchorButton>
      <Image
        src={mapImage}
        alt="Circuit du Trail Nocturne Touchois"
        class="w-full max-h-[525px] object-cover rounded-xl border-neutral-100 border-2"
      />
    </div>
    <div
      class="grid grid-cols-1 max-sm:gap-y-1.5 gap-y-1 sm:gap-x-1 sm:grid-cols-2 my-6"
    >
      <div class="flex">
        <CalendarIcon class="size-6 inline-block mr-2" />
        <h3 class="font-bold text-lg">{content.circuit__date}</h3>
      </div>
      <div class="flex">
        <RunnerIcon class="size-6 inline-block mr-2" />
        <h3 class="font-bold text-lg">{content.circuit__participant_count}</h3>
      </div>
      <div class="flex">
        <PinsIcon class="size-6 inline-block mr-2" />
        <h3 class="font-bold text-lg">Une boucle de 12 km</h3>
      </div>
      <div class="flex">
        <GraphIcon class="size-6 inline-block mr-2" />
        <h3 class="font-bold text-lg">{content.circuit__elevation}</h3>
      </div>
    </div>
    <div class="flex gap-3 flex-col sm:flex-row">
      <AnchorButton
        class="bg-black text-white text-center"
        size="medium"
        href={content.inscription_link}>Découvrir les offres</AnchorButton
      >
      <AnchorButton
        class="bg-neutral-100 text-black text-center"
        size="medium"
        href={content.circuit__reglement_link}>Règlement de l'épreuve</AnchorButton
      >
    </div>
  </div>
</div>
